{{#expect title, items, isActive}}
{{#expect
	hello, world
}}

<h1>{{title}}</h1>

{{#var foo = 'world'}}
{{! comment }}
<div>{{ foo }}</div>

<ul>
{{#each items as (item, idx) }}
	<li>{{ item }} @ {{idx}}</li>
{{/each}}
</ul>

{{#if isActive}}
	<p>active</p>
	{{!-- TODO --}}
	{{#include src='file.hbs' foo=bar value=123 }}
{{#else}}
	<p>inactive</p>
{{/if}}

{{#if foo == 1}}
{{#elif foo == 2}}
{{#else}}
{{/if}}
